{% extends 'home/home.html' %}
{% load staticfiles %}

{% block css %}
  <link rel="stylesheet" href="{% static 'questions/css/user_response.css' %}">
{% endblock %}

{% block content %}
  <div class='container'>
    <form method='POST' action='{% url "question-single" pk=instance.id %}'>
      {% csrf_token %}
      <!-- Your answer -->
      <input type='hidden' name='question_id' value='{{ instance.id }}' />

      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3><span class="label label-warning" id="qid">2</span>{{ instance.text }}</h3>
          </div>
          <div class="modal-body">
            <div class="col-xs-3 col-xs-offset-5">
              <div id="loadbar" style="display: none;">
                <div class="blockG" id="rotateG_01"></div>
                <div class="blockG" id="rotateG_02"></div>
                <div class="blockG" id="rotateG_03"></div>
                <div class="blockG" id="rotateG_04"></div>
                <div class="blockG" id="rotateG_05"></div>
                <div class="blockG" id="rotateG_06"></div>
                <div class="blockG" id="rotateG_07"></div>
                <div class="blockG" id="rotateG_08"></div>
              </div>
            </div>

            <div class="quiz" id="quiz" data-toggle="buttons">
              <h5>Choose your answer here</h5>
              {% if form.errors.answer_id %}
                <p class="text-danger">You must choose an answer here.</p>
              {% endif %}
              {% for ans in instance.answer_set.all %}
                <label class="element-animation{{ forloop.counter }} btn btn-sm btn-info btn-block">
                  <span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span>
                  <input type="radio" name="answer_id" value="{{ ans.id }}" {% if user_answer.my_answer.id == ans.id %}checked=checked{% endif %}>
                  {{ ans.text }}
                </label>
              {% endfor %}
              Importance: {{ form.importance_level }}
            </div>

            <hr>

            <div class="quiz" id="quiz" data-toggle="buttons">
              <h5>Choose preferred answer for your match</h5>
              {% if form.errors.their_answer_id %}
                <p class="text-danger">You must choose an answer here.</p>
              {% endif %}
              {% for ans in instance.answer_set.all %}
                <label class="element-animation{{ forloop.counter }} btn btn-sm btn-info btn-block">
                  <span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span>
                  <input type="radio" name="their_answer_id" value="{{ ans.id }}" {% if user_answer.their_answer.id == ans.id %}checked=checked{% endif %}>
                  {{ ans.text }}
                </label>
              {% endfor %}
              Importance: {{ form.their_importance_level }}
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <input class='btn btn-primary' type='submit' value='Save and continue' />
        </div>
      </div>

    </form>
  </div>
{% endblock %}