{% extends 'home/home.html' %}

{% load staticfiles %}
{% load avatar_tags %}

{% block css %}
  <link rel="stylesheet" href="{% static 'profiles/css/profile_card.css' %}">
{% endblock %}

{% block content %}
  <div class="container profile-font">
    <div class="row mb-5">
      <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
        <div class="card card-inverse card-info">
          <img class="card-img-top img-thumbnail" src="{% avatar_url user %}">
          <div class="card-block">
            <figure class="profile profile-inline">
              {% avatar user %}
            </figure>
            <h4 class="card-title">{{ user.first_name }} {{ user.last_name }}</h4>
            <div class="card-text">
              {{ user.email }}
            </div>
          </div>
          <div class="card-footer">
            <small>Last updated 3 mins ago</small>
            <button class="btn btn-info float-right btn-sm">Like</button>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}