{% extends 'home/home.html' %}
{% load staticfiles %}
{% load avatar_tags %}

{% block css %}
  <link rel="stylesheet" href="{% static 'dashboards/css/card.css' %}">
  <link rel="stylesheet" href="{% static 'dashboards/css/main.css' %}">
{% endblock %}


{% block content %}
  <div class="container wrapper">
    <h4>Check out these {{ matches|length }} matches for you:</h4>
    <hr>
    <div class="row">
    {% for user, percent in matches %}
      <div class="col-md-3">
        <div class="card card-inverse card-info">
          <img class="card-img-top img-thumbnail" src="{% avatar_url user %}">
          <div class="card-block">
            <figure class="profile profile-inline">
              {% avatar user %}
            </figure>
            <h4 class="card-title">{{ user.first_name }} {{ user.last_name }}</h4>
            <div class="card-text">
              {{ user.email }}
            </div>
          </div>
          <div class="card-footer">
            <small>Match: </small><small class="text-info">{{ percent }}%</small>
            <a class="btn btn-info float-right btn-sm" href="{% url 'profile-single' pk=user.id %}">View</a>
          </div>
        </div>
      </div>

      {% if forloop.counter|divisibleby:4 %}
    </div>
    <br>
    <div class="row">
      {% endif %}
    {% endfor %}
  </div>

{% endblock %}
